@import 'base.css';

@font-face {
  font-family: medieval;
  src: url('./fonts/MedievalSharp-Book.ttf');
}

#app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;

  color: white;
  background-color: #EFE9CC;

  font-family: medieval, "Roboto Mono", monospace;

}
html {
  overflow: hidden;
}

.hovered {
  box-shadow: 0px 0px 10px 10px rgba(239, 228, 2, 0.5);
}