@import 'base.css';

@font-face {
  font-family: medieval;
  src: url('./fonts/MedievalSharp-Book.ttf');
}

#app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;

  color: white;
  background-color: #EFE9CC;

  font-family: medieval, "Roboto Mono", monospace;

}
html {
  overflow: hidden;
}

.hovered {
  box-shadow: 0px 0px 20px 20px rgba(239, 228, 2, 0.8);
}

.rtl {
  direction: rtl;
}

.btn-game {
  background-color: #2c3e50 !important;
  border: solid 2px !important;

  color: #efe9cc;
  border-color: #A97A00 !important;
  font-weight: 900 !important;
}
.btn-game:hover {
  background-color: #efe9cc !important;
  border: solid 2px !important;

  color: #2c3e50;
  border-color: #A97A00 !important;
  font-weight: 900 !important;
}